.add-container{
    position: absolute;
    top: 6%;
    left: 30%;
    height: 630px;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}
.add-innerContainer{
    position: relative;
    top: 10%;
    left: 8%;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 197, 197);
}
.btn button{
    cursor: pointer;
}
